<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Processing</title>
</head>
<body style="background-color: #175cff;">
    <div class="formfield" style="background-color: white; margin-bottom:10px ;">
    <h1 style="color: #175cff">Upload Your Files</h1>

    <form method="POST" style="padding-bottom: 20px; padding-left: 10px;" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>
</div>
</body>
</html>